alias python=python3
alias fucking='sudo'

# Directorys
alias rm='rm -i'
alias rd='~/.scripts/removedir.pl'

# Config Editing
alias xe='vim ~/.Xresources && xrdb ~/.Xresources' #edit xresources and resource the file
alias be='vim ~/.bashrc && source ~/.bashrc'

# run synaptic
alias synaptic='gksudo synaptic && exit'

# Change BG
alias fbg='feh --bg-scale'
alias wall='fbg ~/wallpaper'

# GIT
alias commit='git commit -am'
alias push='git push'
alias pull='git pull'
alias clone='git clone'

# APT-GET
alias apt-find='apt-cache search '
alias apt-get='sudo apt-get install '

# TOGGLE TOUCHPAD
alias tp='~/.scripts/touchpad_toggle.sh'


# TAR
alias tarz='~/.scripts/tarz'
alias tar='~/.scripts/tarz'
